<nav class="navbar">
  <div class="navbtn-section">
    
    <ul class="navbar-list navbtn-section">
      {{- $currentPage := . -}}
      {{ range .Site.Menus.main -}}
      <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} nav-btn">
          <a href="{{ relLangURL .URL}}"><span>{{ .Name }}</span></a>
      </li>
      {{- end }}
    </ul>
  </div>

  <!-- Language switcher -->
  <div class="lang-btn">
    {{ if eq $.Site.Language.LanguageName "Norsk"}}
      <a class="lang-btn-flag" href="{{ replace .Permalink (absURL "") (absURL "en/") }}" style="font-size: 4rem;">🇬🇧</a>

    {{ else if eq $.Site.Language.LanguageName "English" }}
      <a class="lang-btn-flag" href="{{ replace .Permalink (absURL "en/") (absURL "") }}" style="font-size: 4rem;">🇳🇴</a>
    {{ end }}
  </div>
</nav>
 