{{ $services := $.Site.Data.rigg.programvare.services }}

<section class="serv-rigg">
    <h1 class="serv-header">Tjenester</h1>

    {{ range $sectionname := $services }}

        <div class="serv-wrapper">

            <div class="section-dropdown" role="tablist">
                <a class="hw-unit-link">
                    <button 
                        id="section-tab"
                        class="list-item"
                        aria-expanded="false"
                        aria-controls="section-panel"
                        role="tab"
                        onclick="showComp(this)"
                        > <h3>{{ .name }}</h3>
                    </button>
                </a>
                
                <div
                    id="section-panel"
                    class="section-dropdown__panel"
                    aria-labelled-by="section-tab"
                    aria-hidden="true"
                    >

                    {{ $descsplit := split .description "\n" }}

                    {{ range $descsplit }}
                        <p class="serv-desc"> {{ . }} </p>
                    {{ end }}

                    <a class="desc-link" 
                       href="{{ .link }}"
                       target="_blank"
                       >
                       <button 
                            class="desc-btn list-item" 
                            role="tab"
                            >
                            <h4>Kilde 
                                <svg version="1.0" 
                                     xmlns="http://www.w3.org/2000/svg"
                                     class="newtab-icon"
                                     width="1.2rem" 
                                     height="1.2rem" 
                                     viewBox="0 0 981.000000 982.000000"
                                     preserveAspectRatio="xMidYMid meet"
                                    >
                                    <g transform="translate(0.000000,982.000000) scale(0.100000,-0.100000)"
                                        fill="#000000" 
                                        stroke="none"
                                        >
                                        <path 
                                            d="M3315 9800 c-491 -8 -495 -8 -635 -81 -183 -95 -337 -279 -369 -440 
                                            -10 -48 -18 -343 -37 -1415 l-6 -312 -262 -6 c-143 -3 -520 -10 -836 -16 -316
                                            -5 -597 -14 -625 -20 -116 -24 -258 -116 -348 -225 -30 -36 -83 -120 -117
                                            -186 l-61 -119 -6 -2918 c-6 -3114 -3 -3380 37 -3522 35 -122 74 -184 190
                                            -301 115 -116 174 -153 302 -189 140 -40 407 -43 3514 -37 l2922 5 118 61
                                            c186 94 289 190 368 340 59 113 54 22 82 1537 l6 312 342 6 c912 15 1336 27
                                            1386 37 112 22 262 122 353 234 26 33 75 113 108 178 l60 118 6 2912 c5 3012
                                            2 3369 -33 3507 -33 132 -77 205 -193 320 -180 179 -256 206 -611 220 -263 10
                                            -4968 10 -5655 0z m5745 -3755 l0 -3015 -3015 0 -3015 0 0 3015 0 3015 3015 0
                                            3015 0 0 -3015z m-6780 -1225 l0 -1969 45 -94 c95 -199 199 -312 376 -410
                                            l104 -57 800 0 c440 0 1337 -3 1993 -7 l1192 -6 0 -759 0 -758 -3015 0 -3015
                                            0 0 3015 0 3015 760 0 760 0 0 -1970z"
                                        />
                                        <path 
                                            d="M5875 8299 c-161 -4 -305 -11 -323 -17 -98 -32 -196 -125 -233 -220
                                            -30 -79 -30 -195 0 -274 26 -67 103 -156 166 -193 26 -16 70 -29 116 -35 41
                                            -6 368 -13 727 -17 358 -3 652 -9 652 -12 0 -3 -278 -285 -618 -626 -906 -908
                                            -1467 -1479 -1635 -1660 -175 -190 -192 -221 -185 -350 8 -141 83 -256 206
                                            -317 62 -31 74 -33 167 -33 83 0 107 4 140 22 86 46 472 420 1788 1732 l697
                                            696 1 -425 c1 -604 13 -971 34 -1039 21 -69 113 -164 197 -205 180 -88 409 2
                                            496 193 23 50 26 71 34 285 5 131 6 664 3 1231 l-7 1000 -26 45 c-34 58 -134
                                            158 -192 192 l-46 26 -934 4 c-514 2 -1065 0 -1225 -3z"
                                        />
                                    </g>
                                </svg>


                            </h4>
                       </button>
                    </a>

                </div>
            </div>     
        </div>
    {{ end }}
</section>